.row {
  margin: 3%;
}

.jumbotron {
  background-color: #ABC6CF;
    color:;
}

body {
  background-color: #B3DBE8;
}


/*.jumbotron {
      padding:30px 15px;
      margin-bottom:30px;
      color:inherit;
      background:url('img/image1.jpg');
}*/
